<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Mongo Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="/saved">Saved Articles
                <span class="sr-only">(current)</span>
            </a>
            <button href="/saved" type="button" class="btn btn-danger" id="scrape">Scrape NYT</button>
        </div>
    </div>
</nav>
<div class="container-fluid">
        <div class="jumbotron text-center background-image">
            <div class="overlay">
                <div class="caption">
                    <h1 class="display-1 text-white">Mongo Scraper</h1>
                    <h2 class="text-white">NYT Edition</h2>
                </div>
            </div>
        </div>
    <div class=row>
        <div class="col-12">
            {{#each articles}}
                <div class="card w-90">
                    <div class="card-header text-white bg-primary">
                        <a href={{link}} target="_blank" class="text-white">
                            <h2>{{title}}</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{summary}}
                        </p>
                        <button data="{{_id}}" class="btn btn-info note-btn">Article Notes</button>
                        <button data="{{_id}}" class="btn btn-danger delete-btn">Delete From Saved</button>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="successMessage" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notes for Article <span id="article-id"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <ul class="list-group list-group-flush articles-available">
                    </ul>
                </div>
                <br/>
                <div class="form-group">
                    <label for="note-input" class="sr-only">Enter Note Here</label>
                    <textarea class="form-control" id="note-input" rows="3" placeholder="New Note"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="save-note">Save Note</button>
            </div>
        </div>
    </div>
</div>

